
	<div data-page="cinema" class="page" data-title="点播影院">
        <form class="searchbar searchbar-init cinemasearchbar">
            <div>
                <p style="vertical-align: middle"><a href="location"  class="button" style="margin-right:10px;background-color:white;border-color:white;"><span id="locat" style="max-width: 4em;display:-moz-inline-box;
                display:inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">定位...</span></a></p>
            </div>
            <div class="searchbar-input">
                <input type="search" placeholder="搜索影院">
                <a href="#"  class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">取消</a>
        </form>


		<div class="page-content infinite-scroll" data-distance="50">
			<div class="list-block media-list">
				<div class="list-group cinema-group">
					<ul class="cinema" data-total="0">

					</ul>
				</div>

            </div>
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader">
                <div style="color: gray;padding:auto">上拉加载更多</div>
            </div>



        </div>
		<!-- Bottom Toolbar-->
		<!--<div class="toolbar">-->
			<!--<div class="toolbar-inner">-->
				<!--&lt;!&ndash; Toolbar links &ndash;&gt;-->
				<!--<a href="#" class="link">10km以内</a>-->
			<!--</div>-->
		<!--</div>-->
	</div>

