<div data-page="login" class="page" data-title="登陆界面">
    <div class="page-content bg-white">
        <form>
            <div class="content-block-title" >
                手机号快捷登陆
            </div>

            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">手机号</div>
                            <div class="item-input">
                                <!--<input type="text" id="phonenumber" name="phonenumber" placeholder="手机号" >-->
                                <input type="text" id="phonenumber" name="phonenumber" placeholder="手机号" value="17602107205">
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">图片验证码</div>
                            <div class="item-input">
                                <input type="text" id="identifying" name="identifying" placeholder="右侧验证码">
                            </div>
                            <div class="item-after">
                                <img id='identifyingcode' src="identifyingcode?" alt="点击刷新">
                            </div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">手机验证码</div>
                            <div class="item-input">
                                <input type="password" name="password" placeholder="手机验证码">
                            </div>
                            <div class="item-after">
                                <a class="button" id="vcode" href="#" style="border:gray 1px solid;color: black;background:gainsboro">获取验证码</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block">
                <ul>
                    <li><a href="#" id="submit" class="item-link list-button">确定</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>