<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport"
content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.ios.min.css">
    <link rel="stylesheet" href="css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
    <link rel="stylesheet" href="css/framework7.indexed-list.css">
    <link rel="stylesheet" href="css/framework7-icons.css">
    </head>
    <body>
        <!-- Views-->
        <div class="views">
            <!-- Your main view, should have "view-main" class-->
            <div class="view view-main">
                <div class="pages">
                    {{{body}}}
                </div>
            </div>
        </div>
    </body>
<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="js/framework7.min.js"></script>
<!-- Path to weixin Library JS-->
<script type="text/javascript" src="js/jweixin-1.1.0.js"></script>
<script type="text/javascript" src="js/member.js"></script>
</html>