<div data-page="list" class="page">
   <div class="page-content">
        <div class="list-block media-list contacts-list">
            <div class="list-group">
                <ul>
                    <li class="contact-item bg-white">
                        <a href="#">
                            <div class="item-content">
                                <div class="item-media" style="padding: 20px 10px;"><img src="img/i-f7-ios.png" style="width:80px;height:80px;border-radius:50px;border: solid 1px black;padding: 4px"></div>
                                <div class="item-inner">
                                    <div class="item-title-row" style="margin-top: 40px">
                                        <div class="item-title left">厦岗</div>
                                        <div class="item-title right">vip</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

       <div class="list-block media-list contacts-list bg-white">
            <div class="list-group">
                <div class="list-block">
                    <div class="list-group">
                        <ul>

                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media">
                                        <div class="icon"><i class="f7-icons">film</i></div>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">我的影吧</div>
                                    </div>
                                </a>
                            </li>


                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media">
                                        <div class="icon"><i class="f7-icons">film</i></div>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">我的电影</div>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="item-link item-content">
                                    <div class="item-media">
                                        <div class="icon"><i class="f7-icons">film</i></div>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">电子会员卡</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                     </div>
                </div>
            </div>
        </div>

       <div class="list-block media-list contacts-list bg-white">
           <div class="list-group">
               <div class="list-block">
                   <div class="list-group">
                       <ul>

                           <li>
                               <a href="#" class="item-link item-content">
                                   <div class="item-media">
                                       <div class="icon"><i class="f7-icons">film</i></div>
                                   </div>
                                   <div class="item-inner">
                                       <div class="item-title-row">修改手机号</div>
                                   </div>
                               </a>
                           </li>


                           <li>
                               <a href="#" class="item-link item-content">
                                   <div class="item-media">
                                       <div class="icon"><i class="f7-icons">film</i></div>
                                   </div>
                                   <div class="item-inner">
                                       <div class="item-title-row">解绑遥控器</div>
                                   </div>
                               </a>
                           </li>


                           <li>
                               <a href="#" class="item-link item-content">
                                   <div class="item-media">
                                       <div class="icon"><i class="f7-icons">film</i></div>
                                   </div>
                                   <div class="item-inner">
                                       <div class="item-title-row">登陆其他账号</div>
                                   </div>
                               </a>
                           </li>
                       </ul>
                   </div>
               </div>
           </div>
       </div>

    </div>
</div>