	<div data-page="cinema" class="page" data-title="用户注册">
        <form class="searchbar searchbar-init cinemasearchbar" method="post" action="">
            <div>
               手机： <input type="text" name="phone" placeholder="请输入手机号">
            </div>
            <div>
               短信验证码： <input type="text"  id="edtqr" name="qrcode" placeholder="请输入验证码">
                <button name="btnsms" class="button" id="btnsms" value="点击获取"/>

            </div>

            <input id="sub" type="submit" value="提交注册"/>
            <a href="#" class="searchbar-cancel">取消</a>
        </form>
	</div>

